@font-face {
    font-family: "MiSans", sans-serif;
    font-weight: normal;
    font-style: normal;
    }
    *:not([class*="icon"]):not(i) {
    font-family: "MiSans" !important;
    }

body{
    background-color: #000000;
    color: #b994cb;
    text-align: left;
    vertical-align: top;
}

code{
    color: #cccccc;
}

table{
    border-collapse: collapse;
}

th{
    text-align: center;
    color: #000000;
    background-color: #8c709a;
}

th.header{
    width: 618px;
}

#container{
    margin: auto;
    width: 768px;
}

#title{
    width: 768px;
    height: 233px;
}

.detail{
    text-align: left;
    vertical-align: bottom;
    color: #cccccc;
}

/*
tr:hover{
    background-color: #333333;
}
*/

td.blank_top{
    height: 55px;
}

td.blank_bottom{
    height: 100px;
}

td.blank_left{
    width: 150px;
}

#blank_left_home{
    width: 240px;
    float: left;
}

#passage_home{
    width: 528px;
}

.footer{
    color: #8c709a;
    text-align: center;
    font-size: 0.75em;
}

a:link{color: #c1bbff;}
a:visited{color:#807cc4}
a:active{color: #807ce1;}